{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a New Post {% endblock %}</h1>
<!-- add before </body> -->

<form method=post enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
  </form>

  <form method=post enctype=multipart/form-data>
  <input id="input_file" type="file" style="display:none;">
  <input type=submit value=Upload>
  <a href="#" id="trigger-input-file">Trigger input file with the jQuery script</a>

  <script>
      $(document).ready(function(){
  $("#trigger-input-file").click(function(){
    $('input[type="file"]').trigger("click");
  });
});
  </script>
</form>

<form id="form" method=post enctype=multipart/form-data>
<script>(function(e,t,n){var r=e.querySelectorAll("html")[0];r.className=r.className.replace(/(^|\s)no-js(\s|$)/,"$1js$2")})(document,window,0);</script>

<div class="box">
    <input type="file" name="file" id="file" class="inputfile inputfile-3" data-multiple-caption="{count} files selected" multiple />
    <label for="file"><span>Choose a file&hellip;</span></label>
    <script>
        document.getElementById("file").onchange = function() {
            document.getElementById("form").submit();
        };
    </script>

</div>
</form>

<form method="post" enctype=multipart/form-data>
    <input id="upload" type="file"/>
    <a href="{{ url_for('create')}}" id="upload_link">New host</a>
    <script>
        $(function(){
            $("#upload_link").on('click', function(e){
                e.preventDefault();
                $("#upload:hidden").trigger('click');
            });
        });
    </script>
      <input type=submit value=Upload>

</form>


{% endblock %}
